{extend name="public/base"}

{block name="content"}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <div class="pd-20">
            <div class="mt-20">
                <form role="form" method="post" enctype="multipart/form-data">
                    {:token()}
                    <input type="hidden" name="_method" value="put">
                    <div class="box-body">
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">类目名称</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" id="name" name="name" value="{:$category->name}">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">上传图片</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="file" name="image">
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">确认</button>
                        </div>
                        
                    </div>


                </form>
            </div>

            
        </div>
    </div>
</section>

{/block}
