<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css">
    <link href="__INDEX__/css/steup.css" rel="stylesheet">
    <title>下单助手</title>
</head>
<body>
 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">日带下单助手</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">首页</a></li>
                  <li><a href="#">联系</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">欢迎使用下单助手. </h1>
                <div class="row">
                  <a href="{:url('/customer/index/index')}" class="btn btn-lg btn-default">客服入口</a>

                </div>
                <br />
                <div class="row">
                  <a href="{:url('/deliver/index/index')}" class="btn btn-lg btn-default">发货入口</a>
                </div>
                <br />
                <div class="row">
                  <a href="{:url('/backend/category/index')}" class="btn btn-lg btn-default">后台管理</a>
                </div>
                

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a> by @fenghai</p>
            </div>
          </div>

        </div>

      </div>

    </div>


<script src="__INDEX__/js/jquery.min.js"></script>
<script src="__INDEX__/js/bootstrap.min.js"></script>   
</body>
</html>