    <title>明治商城</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="__CUSTOMER__js/rem.js"></script> 
    <script src="__CUSTOMER__js/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="__CUSTOMER__css/base.css"/>
    <link rel="stylesheet" type="text/css" href="__CUSTOMER__css/page.css"/>
    <link rel="stylesheet" type="text/css" href="__CUSTOMER__css/all.css"/>
    <link rel="stylesheet" type="text/css" href="__CUSTOMER__css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__CUSTOMER__css/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="__CUSTOMER__css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="__CUSTOMER__slick/slick.css"/>
<script type="text/javascript">
    $(window).load(function(){
        $(".loading").addClass("loader-chanage")
        $(".loading").fadeOut(100)
    })
</script>
</head>
<!--loading页开始-->
<div class="loading">
    <div class="loader">
        <div class="loader-inner pacman">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
    </div>
</div>
<!--loading页结束-->
<body>
